:root {
  --white-button:#ffffff;
  --grey-header--title:#939393;
  --black-title:#000000;
  --grey-text:#8f95a5;
  --light-black-links:#263238;
  --active-hero-button:#2b383f;
  --active-links:#6e6e6e;
  --bg-color-skills:#f5f5f5;
  --color--numbers:#2a3246;
  --bg-price:#eeeeee;
  --color-price-text:#546269;
}